{% extends "layout.html" %}
{% block content %}


<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box"> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div> 
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 style="font-size:55px;"><span class="text-logo"> Home</span></h1>
        <p style="text-align:left;">
            This app seeks to help individuals and cooperations to keep track of their carbon emissions from the transport sector. 
            By knowing exctactly the size of your transport footprint, and which transport method you have the biggest potential to improve, 
            we hope to incentivise our users to reduce their total emissions. We are currently working on providing the users with customized 
            suggestions on ways to most efficently reduce your carbon emissions. 
        </p>
        {% if current_user.is_authenticated %}
        {% else %}
        <div class="container_buttons_links_header_home">
          <div class="btn">
              <a href="{{url_for('users.register')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Register</a>
          </div>
          <div class="btn">
              <a href="{{url_for('users.login')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Login</a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="box">
        <img 
          src="{{url_for('static', filename='icons/carbon_app.svg')}}"
          width="325" 
          height="325"
          alt=""/>
      </div>
    </div>

  </div>
</section> 


<!-- Developers -->
<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"> Our Team</h1>
      <p>
        This app was originally developed during the cource FOR19 at NHH held by Mario Blazquez. The entire app 
        exists because of the teaching and methods developed by him. Thank you Mario! 
      </p>      
    </div>

    <div class="developers">
        <div class="box">
          <img src="\static/images/Mario.jpg" style="border-radius: 50%; width:200px;" alt=""> 
          <h3>Mario Blazguez de Paz</h3>
          <p> Mario Blázquez de Paz was appointed postdoc researcher at the Department of Business and Management Science, NHH in 2020. Previously, he did another two postdocs, 
            one at the Norwegian University of Science and Technology in Trondheim and another at the Research Institute of Industrial Economics (IFN) in Stockholm. 
            He completed a Master in Economics at European University Institute and a PhD. in Economics at University of Bologna.
            His research focuses on the analysis of electricity markets in the presence of transmission constraints and the design of electricity auctions using theoretical models and experiments. 
            Currently, he is working analysing the impact of Renewables Certificates of Origin on the competition in electricity markets.
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>
        <div class="box">
          <img src="\static/images/nhh.png" style="border-radius: 50%; width:200px;" alt=""> 
          <h3>Norges Handelshøyskole</h3>
          <p> Norges handelshøyskole is Norway's oldest scientific college within business economics and administrative subjects, historically called business subjects.
            In close cooperation with the business community and society, they develop new knowledge and promote value creation for a sustainable future.
            If it weren't for NHH this course would never take place, and this app would never be developed. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>           
        <div class="box">
          <img src="\static/images/Elise.jpg" style="border-radius: 50%; width:225px;" alt=""> 
          <h3>Elise Isolde Stenevik</h3>
          <p> Elise Isolde Stenevik (23) is soon finishing her third year as a student in economy at NHH. Her field of interest is within designing an economy suited for 
              sustainable growth. We are facing numerous challenges ahead as humanity, and reshaping the economy in a way to handle these is crucial for the welfare of our societies. 
              Besides studying Elise enjoys playing football with her friends. 
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>         
  </div>

  </div>          
</section>
        
{% endblock content %}
